// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.gray-background{
	background-color: $grey;
}

.pink-background{
	background-color: $pink;
}

.center-text{
	text-align: center;
}